:root {
    --lilas: #be83d4;
    --roxo: #5a2a83;
    --laranja: #e9692c;
    --branco: #ebece5;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}
.container-master {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--branco);
    width: 100vw;
    min-height: 100vh;
}
.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    max-height: 95%;
}
.logo-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    color: var(--laranja);
    height: 100px;
}
.title h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
h1::after {
    content: '|';
    margin-left: 3px;
    opacity: 1;
    animation: blink 7s infinite;
    text-align: center;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.img {
    margin-top: 30px;
}
.img img {
    width: 90px;
    border-radius: 100%;
}
.img-curso {
    margin-top: 50px;
    border-top: 2px var(--lilas) solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-curso h3 {
    margin-top: 30px;
}
.img-curso .logo-cursos img {
    width: 70px;
    margin: 3px;
}
.container-projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    max-height: 500px;
}
.cartao {
    height: 495px;
}
.container-card {
    background-color: var(--branco);
    margin: 5px 0px;
}
.conteudo-card:hover {
    background-color: var(--laranja);
    transition: 3s;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--roxo);
    color: var(--branco);
    height: 50px;
}
/*responsividade*/

@media (max-width: 810px) {
    .title {
        height: 150px;
    }
}
@media (max-width: 600px) {
    .conteudo {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .logo-title {
        height: 100%;
    }
    .title {
        color: var(--laranja);
        height: 150px;
    }
    .title h1 {
        width: 100vw;
    }
    .container-projeto {
        border-left: none;
        border-top: 3px solid var(--roxo);
        max-height: 85%;
        width: 100%
    }
    .cartao {
        padding-top: 10px;
        height: 359px
    }
    .logo-curso img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}