:root {
    --lilas: #be83d4;
    --roxo: #5a2a83;
    --laranja: #e9692c;
    --branco: #ebece5;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}
.container-master {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--branco);
    min-height: 100vh;
}
.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.logo-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    color: var(--laranja);
}
.title h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
h1::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink 7s infinite;
    text-align: center;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.container-projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: var(--roxo) solid 2px;
}
@media (max-width:768px) {
    .conteudo {
        display: flex;
        flex-direction: column;
    }
    .logo-title {}
    .container-projeto {
        margin-top: 10px;
        width: 55%;
        border-left: none;
        border-top: 3px solid var(--roxo);
    }
}