:root {
  --lilas: #be83d4;
  --roxo: #5a2a83;
  --laranja: #e9692c;
  --branco: #ebece5;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-size: 16px;
}
a {
  color: #5a2a83;
}
.navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.container-master {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.conteudo-header {
  background-color: #ebece5;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.title-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container-title a {
  text-transform: uppercase;
}
.container-title a:hover {
  color: #5a2a83;
}
.conteudo-icon {
  background-color: var(--roxo);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}
.icon {
  color: var(--branco);
}
.conteudo-menu li {
  display: flex;
  align-items: center;
}
.conteudo-menu .nav-link {
  white-space: nowrap; /* Impede quebra de linha */
  padding: 8px 0;
}
.conteudo-menu li a {
  color: var(--roxo);
  text-transform: uppercase;
}
.conteudo-menu li a:hover {
  color: var(--laranja);
}
.conteudo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.logo-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(45deg, var(--lilas) 40%, var(--laranja) 70%)
    no-repeat fixed;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-bottom: #5a2a83 3px solid;
}
.title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--roxo);
  width: 100%;
}
.title h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
  max-width: 600px;
  max-height: 30%;
}
h1::after {
  content: "|";
  margin-left: 3px;
  opacity: 1;
  animation: blink 2s infinite;
  text-align: center;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.title p {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  width: 75%;
  margin-top: 20px;
  color: var(--branco);
}
.btn-home {
  max-width: 50%;
  padding: 10px;
  background-color: var(--laranja);
  color: var(--branco);
  font-weight: 600;
  border: gray 1px solid;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 3s;
}
.btn-home:hover {
  background-color: transparent;
  border: 3px solid var(--laranja);
  font-weight: 800;
}
.imagem-background {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-image: url("../img/Foto-de-fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
}
.container-sobre-mim {
  width: 100%;
  height: 100%;
  background-color: var(--branco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}
.conteudo-sobre {
  max-width: 80%;
  align-items: center;
  justify-content: center;
}
.foto-perfil {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.minha-foto {
  max-height: 350px;
  object-fit: cover;
  transform: rotate(-10deg);
}
.titulo-sobre {
  text-align: center;
  font-size: 2rem;
  color: var(--roxo);
  margin-bottom: 20px;
}
.texto-sobre {
  margin-top: 20px;
  text-align: justify;
  line-height: 1.6;
  color: #333;
}
.foto-perfil {
  width: 100%;
  padding: 0px 20px;
}
.img-curso {
  margin-top: 50px;
  border-top: 2px var(--lilas) solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-curso h3 {
  margin-top: 30px;
}
.img-curso .logo-cursos img {
  width: 70px;
  margin: 3px;
}
.container-projeto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  max-height: 95%;
}
.cartao {
  height: 495px;
}
.container-card {
  background-color: var(--branco);
  margin: 5px 0px;
}
.conteudo-card:hover {
  background-color: var(--laranja);
  transition: 3s;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--roxo);
  color: var(--branco);
  height: 50px;
}
/*responsividade*/

@media (max-width: 768px) {
  .logo-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .imagem-background {
    margin: 25px 0px;
  }
  .container-sobre-mim {
    flex-direction: column;
    padding: 20px 10px;
  }
}
